# Copia este archivo a .env y completa con tus datos reales

SPRING_R2DBC_URL=r2dbc:postgresql://aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require
SPRING_R2DBC_USERNAME=postgres.mfjnskflqgfeonvbcajr
SPRING_R2DBC_PASSWORD=Z-YuPBh@@g4BnU&

DANDELION_URL=https://api.dandelion.eu/datatxt/nex/v1
DANDELION_HOST=dandelion-semantic-text-analysis.p.rapidapi.com
DANDELION_KEY=your_dandelion_api_key_here

TEXTGEARS_URL=https://textgears-textgears-v1.p.rapidapi.com/correct
TEXTGEARS_HOST=textgears-textgears-v1.p.rapidapi.com
TEXTGEARS_KEY=your_textgears_api_key_here

COPILOT_URL=https://copilot5.p.rapidapi.com/copilot
COPILOT_HOST=copilot5.p.rapidapi.com
COPILOT_KEY=your_copilot_api_key_here

SERVER_PORT=8081
